/* PC */
@media (min-width: 740px) {

}

/* Tablet & mobile */
@media (max-width: 1023px) {

}

/* Tablet */
@media  (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width:740px) { 
    .img-cateri {
        display: none !important;
    }

    .cateri-title {
        width: 100%;
    }

    .menu .img-menu {
        float: none;
    }

    .row-full {
        width: 100% !important;
    }
}