/* Reset CSS*/
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.htlm {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.clearaf::before {
    content: "";
    display: table;
    clear: both;
}

.clearbf::after {
    content: "";
    display: table;
    clear: both;
}

.h1,h2,h3,h4,h5 {
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.h1 {
    line-height: 54px;
    font-size: 36px;
}

.text-center {
    text-align: center !important;
}


.button:hover {
    background-color: #ccc !important;
    color: #000 !important;     
}

/* Margin Top & Bottom */
.mtb-10 {
    margin: 10px 0 ;
}

.mtb-15 {
    margin: 15px 0;
}

.mtb-18 {
    margin: 18px 0 ;
}


.mlf-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Col-half */

.col-half {
    width: 49.99999%;
}

/* Padding 12-24 */
.ptb-12-24 {
    padding: 12px 24px;
}

.ptb-64 {
    padding: 64px 0;
}

.p-64-16 {
    padding: 64px 16px;
}

.p-32 {
    padding: 32px !important;
}

.img-fix {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.text-grey {
    color: #757575 !important;
}

.text-blue-grey {
    color: #607d8b !important;
}

.text-align {
    text-align: center;
}

hr {
    border: 0;
    box-sizing: content-box;
    overflow: visible;
    height: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

#top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 54px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

#header {
    padding: 8px 16px;
    color: #000;
    line-height: 22px;
    display: inline-block;
    width: 100%;
    box-shadow: 
    0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

#header > a {
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    display: block;
    float: left;
    letter-spacing: 4px;
    border: none;
}

.nav {
    float: right;
    display: block;
    line-height: 22px;
}

.nav > a {
    padding: 8px 16px;
    display: block;
    float: left;
    text-decoration: none;
    color: #000;
    letter-spacing: 4px;
}

#image {
    max-width: 1600px;
    min-width: 500px;
    position: relative;
    display: block;
}

#image .header-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

#image .header-title {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    padding: 12px 24px;
}

#image .header-title .title-img {
    font-size: 36px;
    font-weight: 400;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    display: block;
    opacity: 0.6;
}

#content {
    max-width: 1100px;
}

.cateri {
    display: block;
    font-size: 18px;
    line-height: 27px;
}

.img-cateri {
    display: block;
    float: left;
}

.img-cateri > img {
    opacity: 0.75;
}

.cateri-title {
    float: left;
}

.cateri-header {
    font-weight: 400;
}

.cateri-center {
    font-weight: 300;
    font-size: 18px;
}

.cateri-decs {
    text-align: justify;
}

.cateri-decs span {
    background-color: #f1f1f1;
    padding: 3px 8px;
}

.cateri-large {
    color: #757575;
    text-align: justify;
}

.menu {
    display: block;
}

.menu .menu-title {
    display: inline-block;
}

.menu .menu-header {
    font-weight: 400;
}

.menu .menu-title h4 {
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.menu .menu-title p {
    font-size: 15px;
    line-height: 22.5px;
}

.menu .img-menu {
    float: right;
    opacity: 0.7;
}

.contact {
    font-size: 15px;
}

.contact > h1 {
    font-size: 30px;
    font-weight: 400;
}

.contact  > p {
    line-height: 22px;
}

.contact .content-title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}

.contact form input {
    padding: 16px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    line-height: 22px;
    font-size: 15px;
}

.contact .contact-send {
    background-color: #f1f1f1;
    border: none;
    color: #000;
    padding: 8px 16px;
    margin: 16px 0;
    line-height: 22px;
}

.footer {
    background-color: #f1f1f1;
    color: #000;
    display: block;
}

.footer a {
    color: #000;
    line-height: 22px;
}